@using Microsoft.AspNetCore.Identity
@using Seminarski_Rad.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))

{
    <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Kategorija" asp-action="Index">Kategorije</a>
                    </li>
                </ul>
            </div>

    </li>
}
